# Let star with the Cleaning of the dataset

This project was extracted form the Youtube channel of [*Codificando bits*](https://www.youtube.com/watch?v=bGnD1Ki7j-g) available in spanish. The [link](https://drive.google.com/drive/folders/1b1sfWDasyhiTwkZAhRtNQ2X37eKlhOIS) for the dataset is in Google Drive.

## 1. Busisnes problem

A bank contract a Markenting company, in order to contact possible clients. They had to determine if they are or are not interested in adquire a product (a fix deposit with the bank).

So, What is the profile of our major or principal client?

# 2. Dataset

The information was recolected by the marketing company, and it can be find out in the CSV file (dataset_banco.csv)
The specific number of our dataset. It has

- 17 columns
- 45215 rows

Each register(row: the persons were contacted by the marketing companay) has 16 features (the first 16th columns) and one categorical ("yes" or "no" that depends if the person is interested to adquire the product).

The 17 columns (features) are:

1. "age":  edad (numeric)
2. "job": type of work (categorical: "admin.", "unknown", "unemployed", "management", "housemaid", "entrepreneur", "student", "blue-collar","self-employed", "retired", "technician", "services") 
3. "marital": civil status (categorical: "married", "divorced", "single")
4. "education": education level (categorical: "unknown", "secondary", "primary", "tertiary")
5. "default": if left to pay its obligation (categorical: "yes", "no")
6. "balance": money annual balance in euros (numeric)
7. "housing": Do you have a mortgage credit? (categorical: "yes", "no")
8. "loan": Do you have a cosumer loans? (categorical: "yes", "no")
9. "contact": medium that person was contacted (categorical: "unknown", "telephone", "cellular") 
10. "day": the last day that person was contacted (numeric)
11. "month": the last month that person was contacted (categorical: "jan", "feb", "mar", ..., "nov", "dec")
12. "duration": length of time (in seconds) of the last contact (numeric)
13. "campaign": total number of times of the person was contacted during the campaing (numeric)
14. "pdays": number of days elapsed after the person was being contacted before the actual campaign (numeric. -1 indica que no fue contactado previamente)
15. "previous": number of times that the person had being contacted before this campaign (numeric)
16. "poutcome": result of the las marketing campaign (categorical: "unknown", "other", "failure", "success")
17. "y": categorical Did the client subscribe to the product (fix deposit) ?  cliente se suscribió a un depósito a término? (categorical: "yes", "no")

# 3. Looking the dataset

In [2]:
# Import libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [24]:
# reading the data
path = "data\dataset_banco.csv"
data = pd.read_csv(path)

In [25]:
# some general characteristic

print(data.shape) # give us the number of "(rows, columns)"
data.head() # give us the first 5 rows

(45215, 17)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143.0,yes,no,unknown,5,may,261.0,1,-1.0,0,unknown,no
1,44,technician,single,secondary,no,29.0,yes,no,unknown,5,may,151.0,1,-1.0,0,unknown,no
2,33,entrepreneur,married,secondary,no,2.0,yes,yes,unknown,5,may,76.0,1,-1.0,0,unknown,no
3,47,blue-collar,married,unknown,no,1506.0,yes,no,unknown,5,may,92.0,1,-1.0,0,unknown,no
4,33,unknown,single,unknown,no,1.0,no,no,unknown,5,may,198.0,1,-1.0,0,unknown,no

In [26]:
# See the categorical or numeric variables

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45215 entries, 0 to 45214
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        45215 non-null  int64
 1   job        45213 non-null  object
 2   marital    45214 non-null  object
 3   education  45214 non-null  object
 4   default    45215 non-null  object
 5   balance    45213 non-null  float64
 6   housing    45215 non-null  object
 7   loan       45215 non-null  object
 8   contact    45215 non-null  object
 9   day        45215 non-null  int64
 10  month      45215 non-null  object
 11  duration   45214 non-null  float64
 12  campaign   45215 non-null  int64
 13  pdays      45214 non-null  float64
 14  previous   45215 non-null  int64
 15  poutcome   45215 non-null  object
 16  y          45215 non-null  object
dtypes: float64(3), int64(4), object(10)
memory usage: 5.9+ MB

# 4. Cleanning

Now we are doing the cleanning of the dataset, we can be some possible situation

1. Some missing data in some shel
2. Some irrelevant columns (that depends on the problem to solve)
3. Some repeated rows
4. Some extreme values (outliers), only for numerical values. We need to analize in detail how to resolve them.
5. Some typos in the categorical variables